/* Common Style */
body{
    margin: 0;
    padding: 0;
}

.margin{
    max-width: 1240px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Header section  */
header{
    background-color: rgba(255, 144, 14, 0.10);
}

/* Navbar Section  */

nav h1{
    font-size: 45px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

nav a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

/* Hero Section  */

.cover-image{
    width: 1250px;
    padding: 50px 0;
}

button{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

/* Feature Section  */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}