/* Common Style */
body{
    margin: 0;
    padding: 0;
}

.margin{
    max-width: 1240px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-title{
    font-size: 45px;
    font-weight: 700;
}

p{
    font-size: 16px;
    color: #727272;
    font-weight: 400;
}

.text-center{
    text-align: center;
}

.vertical-margin{
    margin-top: 130px;
    margin-bottom: 130px;
}

.gap{
    gap: 30px;
}


/* Header section  */
header{
    background-color: rgba(255, 144, 14, 0.10);
}

/* Navbar Section  */

nav h1{
    font-size: 45px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

nav a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #FF900E;

}

nav a:hover{
    background-color: #ff8f0e6e;
    border: 2px solid blue;

}

/* Hero Section  */

.cover-image{
    max-width: 1250px;
    padding: 50px 0;
}

button{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

/* Feature Section  */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* Feature part 2 Section  */
.feature-content{
    width: 50%;
}

.image{
    width: 100%;
}

/* Some Facts Section  */
.fact-title{
    font-size: 45px;
    font-weight: 600px;
    color: #424242;
    margin: 0;
}

.fact-paragraph{
    font-size: 20px;
    margin: 0;
}

.fact-list{
    padding: 40px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

/* Our Sponsors Section  */


/* Footer Section  */
footer p{
    padding: 35px;
    background-color: #FFF4E7;
    border-radius: 8px  ;
    font-size: 20px;
}



/* Responsive Style  */
@media screen and (max-width: 600px) {
    .flex{
        flex-direction: column;
    }

    .cover-image{
        max-width: 600px;
    }

    .grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .image{
        max-width: 600px;
    }
    .feature-content{
        width: 100%;
    }
}


@media screen and (max-width: 992px) {
    .flex{
        flex-direction: column;
    }

    .cover-image{
        max-width: 992px;
    }

    .grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-content{
        width: 100%;
    }
}